html, body {
    background: white;
}

#back > i {
    transition: all 235ms ease 0s;
    text-shadow: 2px 5px 10px rgba(0,0,0,.3);
} 

#back > i:hover {
    -webkit-transform: translate3d(0,2px,0);
    transform: translate3d(0,2px,0);
    text-shadow: 2px 5px 5px rgba(0,0,0,.5);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container-fluid > div.row:nth-child(1) {
        position: absolute;
        left: 10%;
        top: -80px;
    }
}

@media only screen and (min-width: 601px) {
    .container-fluid > div.row:nth-child(1) {
        position: absolute;
        left: 12%;
    }
}
@media only screen and (min-width: 768px) {
    .container-fluid > div.row:nth-child(1) {
        position: absolute;
        left: 16%;
    }
} 

@media only screen and (min-width: 992px) {
    .container-fluid > div.row:nth-child(1) {
        position: absolute;
        left: 30%;
    }
} 

.grid {
    background: white;
}

.cell {
    width: 60px; height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid > div.cell:nth-child(1), .grid > div.cell:nth-child(2),
.grid > div.cell:nth-child(3), .grid > div.cell:nth-child(4),
.grid > div.cell:nth-child(5), .grid > div.cell:nth-child(6)
    {
        border-bottom: 6px solid black;
    }

.grid > div.cell:nth-child(1), .grid > div.cell:nth-child(2),
.grid > div.cell:nth-child(4), .grid > div.cell:nth-child(5),
.grid > div.cell:nth-child(7), .grid > div.cell:nth-child(8)
    {
        border-right: 6px solid black;
    }

.hover-highlight:hover
    {
        background-color: rgb(223,223,223);
        cursor: pointer;
    }