html, body {
    background: white;
}

.grid {
    background: white;
}

.cell {
    width: 60px; height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid > div.cell:nth-child(1), .grid > div.cell:nth-child(2),
.grid > div.cell:nth-child(3), .grid > div.cell:nth-child(4),
.grid > div.cell:nth-child(5), .grid > div.cell:nth-child(6)
    {
        border-bottom: 6px solid black;
    }

.grid > div.cell:nth-child(1), .grid > div.cell:nth-child(2),
.grid > div.cell:nth-child(4), .grid > div.cell:nth-child(5),
.grid > div.cell:nth-child(7), .grid > div.cell:nth-child(8)
    {
        border-right: 6px solid black; 
    }

#top-start:hover,
#top-middle:hover,
#top-end:hover,
#center-start:hover,
#center-middle:hover,
#center-end:hover,
#bottom-start:hover,
#bottom-middle:hover,
#bottom-end:hover
    {
        background-color: whitesmoke;
        cursor: pointer;
    }